<!doctype HTML>
<html lang="en">
<%- include('layouts/header')%>
<body>
<%- include('layouts/navbar')%>

<div class="container mt-5 mb-5">
    <h1 class="display-2">About VetWall</h1>

    <p class="lead mt-3 mb-5">
        This app was created with EJS layouts, Node packages with Express.js and MongoDB for the data storage. It just 
        serves as another app that was created for my portfolio. If you want to see more, got to 
        <a href="https://codingwithstephen.netlify.app" target="_blank">my profile</a>. But, if you are a veteran and want to share 
        stories that are not confidential, then you may at your risk. If you are a developer and want a repo of this app, 
        <a href="mailto:stephenbrooks714@gmail.com">email</a> me for the link. 
        <br>
        <p class="lead content">
            
            I served in the Military myself, for 17 years. It was a very long time in the service but I would do it all over again. 
            What I do now is web development for a company, as a front end React web developer. I worked on coding and studying it for 1 year and freelanced 
            for 3 additional years. I helped several people with their websites and launching them from nothing to getting online request and recognition 
            everyday. <br><br>
            <img src="https://lh3.googleusercontent.com/ogw/ADea4I5PgsxA0UxkHbjxVcpt2qk0HYTjGq9vvLZotDBB=s83-c-mo" id="pic" style="height:200px" alt="author"> 
            <br>
            <label for="pic">Stephen Brooks - Web Developer</label> <br>
            <label for="pic">Oklahoma, USA</label>
        </p>

    </p>

    <br>

    <div class="mt-5 text-center mb-5">
        <img src="https://media.istockphoto.com/photos/crowd-celebrating-with-national-us-flag-picture-id1280959247?b=1&k=20&m=1280959247&s=170667a&w=0&h=DK9YEG6VaOxhvQ6pV0lSYZBsq7_JRba1gHgtn5vKP3U=" 
            class="img-fluid shadow-2-strong rounded"
            alt="">
    </div>

</div>

<%- include('layouts/footer')%>
</body>
<%- include('layouts/scripts')%>
</html>