<!doctype HTML>
<html lang="en">
<%- include('layouts/header')%>
<body>
<%- include('layouts/navbar')%>

<div class="container p-5 mt-5 mb-5">
    <h1>Create An Article</h1>

    <form action="/posts/store" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="title" class="form-label">Blog Title</label>
            <input type="text" class="form-control" id="title" name="title" />
        </div>
        <div class="mb-3">
            <label for="title" class="form-label">UserName</label>
            <input type="text" class="form-control" id="username" name="username" />
        </div>
        <div class="mb-3">
            <label for="image">Image</label>
            <input type="file" accept="image/*" class="form-control" id="image" name="image" />
        </div>
        <div class="mb-3">
            <label for="article" class="form-label">Blog Article</label>
            <textarea class="form-control" id="article" name="article" rows="3"></textarea>

        </div>
        <div class="mb-3">
            <button type="submit" class="btn btn-primary mb-3">Submit Article</button>
        </div>
    </form>
</div>

<%- include('layouts/footer')%>
</body>
<%- include('layouts/scripts')%>
</html>