<!doctype HTML>
<html lang="en">
<%- include('layouts/header')%>
<body>
<%- include('layouts/navbar')%>

<div class="container mt-5 mb-5 text-center justify-content-center align-items-center">
    <h1>Page Not Founde</h1>
</div>

<%- include('layouts/footer')%>
</body>
<%- include('layouts/scripts')%>
</html>