<!doctype HTML>
<html lang="en">
<%- include('layouts/header')%>
<body>
<%- include('layouts/navbar')%>

<h1>Profile Page</h1>

<%- include('layouts/footer')%>
</body>
<%- include('layouts/scripts')%>
</html>